<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=DESKTOP-L8T1JSC\MSSQLDEVELOPER;Initial Catalog=Time_Evidence_2020;Persist Security Info=True;User ID=sa;Password=manager"/>
  </connectionStrings>
<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
</startup></configuration>
